body{
    color:white;
    background: rgb(23, 10, 209);
}

.heading{
    width: 80%;
    font-size: 22px;
}

#camera{
    border:2px dashed rgb(4, 247, 255);
    width: 350px;
    height: 300px;
}

.name_of_objects,#result_object_name,#result_accuracy_name{
    color: yellow;
}